.main-section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-block: 5rem;
  margin-inline: auto;
  padding-inline: 3rem;

  > * {
    margin-inline: auto;
  }
}

.exam-img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  border-width: 1px;
  border-style: solid;
  border-color: currentcolor;
  border-radius: 4px;
  margin-block: 3em;
  margin-inline: auto;
}
