.styled-button {
  --bg-color: oklch(12.776% 0.3218 286.71deg);
  --fg-color: oklch(94.586% 0.2363 351.29deg);

  padding: 0.5rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: currentcolor;
  border-radius: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: 1rem;
  text-transform: uppercase;
  transition:
    background-color 0.25s ease-in-out,
    color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover,
  &:focus-visible {
    background-color: color-mix(
      in oklch,
      var(--fg-color) 50%,
      var(--bg-color) 50%
    );
  }

  &:focus-visible {
    outline: 4px auto var(--fg-color);
  }

  &:active {
    background-color: var(--fg-color);
    color: var(--bg-color);
  }

  &:disabled {
    background-color: color-mix(in oklch, var(--bg-color) 25%, grey 75%);
    color: color-mix(in oklch, var(--fg-color) 25%, grey 75%);
    cursor: not-allowed;
  }
}
